@(firstInputNumber: Float, sign: String, secondInputNumber: Float, formWasSubmitted: Boolean, calculationResult: Float)

@main("Das ist calculator") {

    <h2>Feel the calculator power!</h2>

    <form action="" method="get">

        <div>
            <label for="firstInputNumber">
                First number
            </label>
            <input type="text" name="firstInputNumber" id="firstInputNumber" value="@firstInputNumber">
        </div>

        <div>
            <label for="sign">Sign</label>
            <select name="sign" id="sign">
                <option value="" @(if (sign == "") {"selected"})>Please choose a sign</option>
                <option value="+" @(if (sign == "+") {"selected"})>+</option>
                <option value="-" @(if (sign == "-") {"selected"})>-</option>
            </select>
        </div>

        <div>
            <label for="secondInputNumber">
                Second number
            </label>
            <input type="text" name="secondInputNumber" id="secondInputNumber" value="@secondInputNumber">
        </div>

        <input type="submit" value="Hit me with math!" name="submit">
    </form>

    @if(formWasSubmitted) {
        <p>
            And the answer is:
            <strong>@calculationResult</strong>
        </p>
    }


}
