@import models.blog.BlogPost

@import services.Menu
@(posts: List[BlogPost])

@main("This is the blog", Menu.HOME) {


    @if(posts.isEmpty) {

        <div class="ui warning message">
            <div class="header">
                No posts yet.
            </div>
            Probably you are the first visitor. Congrats!
        </div>

    } else {

        @for(post <- posts) {


            <div class="ui piled segment blog-post">

                <div class="ui container" style="clear : both">
                    <h4 class="ui header">@post.title</h4>

                    <p>
                        @post.preview
                    </p>
                    <a href="@routes.BlogController.view(post.getId)" class="read-more ui labeled icon button">
                        <i class="right arrow icon"></i>
                        Read more
                    </a>

                </div>

            </div>


        }

    }

}
