@import models.blog.BlogPost

@(posts: List[BlogPost])

@main("This is the blog") {


    <h1>Welcome to my blog</h1>

    <a href="@routes.BlogController.addPost()" class="add-post">Create new post</a>


    @for(post <- posts) {

        <div style="border: 1px solid black" class="blog-post">

            <h3>@post.title</h3>
            <em>by @post.author</em>

            <pre>@post.preview</pre>
            <a href="@routes.BlogController.view(post.getId)" class="read-more">Read more</a>
        </div>
    }

}
